// Colors
$color-accent: #003a33 !default
$color-text: #000000 !default
$color-text-alt: #454545 !default
$color-border: rgba(0, 0, 0, 0.30) !default
$color-background: #FFFFFF !default
$color-background-alt: #F2F2F2 !default
$color-background-hero: #E5EBEC !default
$color-key-figure-orange: #f2a766 !default
$color-key-figure-blue: #a8bbbf !default

// Header
$header-background: transparent !default
$header-border-bottom-width: 0
$header-sticky-background: $color-background-hero
$header-logo-height: 56px !default

// Search
$search-button-header-text: true !default

// Hero
$hero-background-color: $color-background-hero !default

// Footer
$footer-color: $color-background !default
$footer-background-color: $color-accent !default

// Font family
$heading-font-family: "Apfel Grotezk", sans-serif
$body-font-family: "Ronzino", sans-serif

// Font weight
$h1-weight: 500
$h3-weight: 500