$heading-font-family: "Apfel Grotezk", sans-serif
$body-font-family: "Ronzino", sans-serif

$header-background: none
$header-border-bottom-width: 0
$hero-background-color: none
$footer-background-color: none