// Hyperlink icon
a[target="_blank"]::after,
.btn[target="_blank"]::after
    content: none !important

// Email icon
footer .email::after
    content: "\eef3" !important

// Footer
.footer-site address
    @include meta
    font-family: $heading-font-family
    font-style: normal

// Sticky footer layout
body
    display: flex
    flex-direction: column
    min-height: 100vh

main#main
    flex: 1

// HOMEPAGE

// Hero
.page-homepage .btn
    @include button-icon(arrow-right-line)
    --btn-color: #{$color-background}
    --btn-background: #{$color-accent}
    --btn-border: 1px solid #{$color-accent}
    --btn-hover-color: #{$color-accent}
    --btn-hover-background: #{$color-background-hero}
    --btn-hover-border: 1px solid #{$color-accent}

// Call to action block
.page-homepage .block-class-homepage-cta-block .actions a:first-child
    @include button-icon(external-link-line)
    --btn-color: #{$color-background}
    --btn-background: #{$color-accent}
    --btn-border: 1px solid #{$color-accent}
    --btn-hover-color: #{$color-accent}
    --btn-hover-background: #{$color-background-hero}
    --btn-hover-border: 1px solid #{$color-accent}

// Key figures block
.block-key_figures li:nth-child(1) strong
    color: $color-accent

.block-key_figures li:nth-child(2) strong
    color: $color-key-figure-blue

.block-key_figures li:nth-child(3) strong
    color: $color-key-figure-orange

// PROJECTS PAGE

// Projects list
.block-class-project-list .media img
    border-radius: 0 2.5rem 2.5rem 2.5rem