// GLOBAL

// First column of each row
.block-class-chapter-collective-projects,
.block-class-chapter-persons-support
    @include media-breakpoint-up(desktop)
        margin-left: Max(0px, calc((100% - var(--grid-max-width)) / 2))
        .container
            padding-left: var(--grid-gutter)

// Third column of each row
.block-class-chapter-social-impact,
.block-class-chapter-training
    @include media-breakpoint-up(desktop)
        .container
            padding-right: var(--grid-gutter)

// Clear float after the last chapter
.block-class-chapter-training
    + *
        @include media-breakpoint-up(desktop)
            clear: both

// Hero image
.hero--with-image
    .content
        figure
            img
                height: pxToRem(448)
                object-fit: contain
                object-position: top
    @include media-breakpoint-up(desktop)
        .content
            figure
                margin-top: $spacing-5
                width: pxToRem(448)
                flex-shrink: 0

// Hero image on project categories pages
.projects_categories__term
    @include media-breakpoint-up(desktop)
        .hero--with-image
            .content
                figure
                    width: pxToRem(336)
                    img
                        height: pxToRem(336)

// Hero image on posts and projects single pages
.posts__page,
.projects__page
    .hero--with-image
        .content
            figure
                width: 100%
                max-width: pxToRem(560)
                margin-left: 0
                margin-right: auto
                flex-shrink: 0
                img
                    height: auto
                    max-height: pxToRem(560)
                    width: 100%
                    max-width: pxToRem(560)
        @include media-breakpoint-up(desktop)
            .content
                figure
                    margin-left: unset
                    margin-right: unset

// Hero background
@include media-breakpoint-down(desktop)
    .hero--image-portrait,
    .hero--image-square
        margin-bottom: 0
        figure
            margin-bottom: 0

// Hero background on persons, posts, projects and contact pages
.persons__page,
.posts__page,
.projects__page,
.page-contact
    .hero
        background: $color-background
        background-color: $color-background

// Hyperlink icon
a[target="_blank"]::after,
.btn[target="_blank"]::after
    content: none !important

// Email icon
footer .email::after
    content: "\eef3" !important

// Footer
.footer-site address
    @include meta
    font-family: $heading-font-family
    font-style: normal

body
    display: flex
    flex-direction: column
    min-height: 100vh

main#main
    flex: 1



// HOMEPAGE

// Hero
.page-homepage .btn
    @include button-icon(arrow-right-line)
    --btn-color: #{$color-background}
    --btn-background: #{$color-accent}
    --btn-border: 1px solid #{$color-accent}
    --btn-border-radius: 0.7rem
    --btn-hover-color: #{$color-accent}
    --btn-hover-background: #{$color-background-hero}
    --btn-hover-border: 1px solid #{$color-accent}
    --btn-padding: #{pxToRem(12)} #{$spacing-3}
    @include media-breakpoint-up(desktop)
        --btn-padding: #{pxToRem(18)} #{$spacing-4}

// Gallery block
body .block-class-grid-areas-of-expertise.block-gallery--grid
    @include media-breakpoint-up(desktop)
        .gallery
            @include flexbox-grid(6)
            figure
                img
                    width: 80%

// Projects block
.block-class-homepage-projects-block
    background-color: $color-background-alt
    padding-top: var(--grid-gutter)
    padding-bottom: var(--grid-gutter)

    @include media-breakpoint-down(desktop)
        .top .description
            font-family: $lead-sidebar-font-family
            font-size: var(--lead-sidebar-size)
            font-weight: $lead-sidebar-weight
            line-height: var(--lead-sidebar-line-height)
            letter-spacing: $lead-sidebar-letter-spacing

    @include in-page-without-sidebar
        .top
            @include top-flex
            .description
                font-family: $lead-sidebar-font-family
                font-size: var(--lead-sidebar-size)
                font-weight: $lead-sidebar-weight
                line-height: var(--lead-sidebar-line-height)
                letter-spacing: $lead-sidebar-letter-spacing
                width: auto

    .projects--grid
        @include layout-cards($block-pages-card-page-background, $block-pages-card-page-background-hover, $block-pages-card-page-color, $block-pages-card-page-color-hover)
        article
            .media
                background: $block-pages-card-page-background
                img
                    object-fit: contain
            .project-content
                display: flex
                flex-direction: column
                flex: 1
            .project-description
                display: flex
                flex-direction: column
                flex: 1
            .more
                margin-top: auto
                padding-top: $spacing-4

// Key figures block
.block-key_figures li:nth-child(1) strong
    color: $color-accent

.block-key_figures li:nth-child(2) strong
    color: $color-key-figure-blue

.block-key_figures li:nth-child(3) strong
    color: $color-key-figure-orange

// Posts list block

.block-class-posts-list-block .media img
    border-radius: 0 2.5rem 2.5rem 2.5rem

// Call to action block

.block-class-homepage-cta-block
    .page-homepage &
        .actions a:first-child
            @include button-icon(external-link-line)
            justify-content: flex-start
            --btn-min-width: auto
            --btn-color: #{$color-background}
            --btn-background: #{$color-accent}
            --btn-border: 1px solid #{$color-accent}
            --btn-border-radius: 0.7rem
            --btn-hover-color: #{$color-accent}
            --btn-hover-background: #{$color-background}
            --btn-hover-border: 1px solid #{$color-accent}
            --btn-padding: #{pxToRem(12)} #{$spacing-3}
            @include media-breakpoint-up(desktop)
                --btn-padding: #{pxToRem(18)} #{$spacing-4}

    .call_to_action .description p
        font-family: $lead-sidebar-font-family
        font-size: var(--lead-sidebar-size)
        font-weight: $lead-sidebar-weight
        line-height: var(--lead-sidebar-line-height)
        letter-spacing: $lead-sidebar-letter-spacing



// AREAS OF EXPERTISE PAGE

// Categories block
.block-class-categories-areas-of-expertise
    @include media-breakpoint-up(desktop)
        .categories--grid
            grid-template-columns: repeat(3, 1fr)
    article .media img
            object-fit: unset
            aspect-ratio: unset
            width: 50%
            height: auto
    article *:where([class$="-title"])
        @include h3


// Gallery block
body main .block-class-gallery-area-of-expertise
    @include media-breakpoint-up(desktop)
        .gallery
            @include flexbox-grid(4)
    .gallery img
                aspect-ratio: 1
                width: 100%
                object-fit: contain

// Links block
.block-class-links-area-of-expertise
    ul li .media img
        object-fit: cover
        object-position : top
    @include media-breakpoint-up(desktop)
        .links
            grid-template-columns: repeat(3, 1fr)



// PROJECTS LIST PAGE

// Projects section
.projects__section,
.projects_categories__term
    @include media-breakpoint-down(md)
        .projects--grid .project .media
            margin-left: 0
            margin-right: 0

.projects__section
    .projects--grid
        @include media-breakpoint-up(desktop)
            grid-template-columns: repeat(3, 1fr)
            .media img
                aspect-ratio: 16 / 9
                object-fit: contain
                width: 100%
        .more
            display: none
        .project-title a
            @include icon(arrow-right-line, after, true)
            @include hover-translate-icon(after)



// PROJECTS BY CATEGORY PAGE

// Projects section
.projects_categories__term
    .projects--grid
        @include media-breakpoint-up(desktop)
            grid-template-columns: repeat(3, 1fr)
        .more
            display: none
        .project-title a
            @include icon(arrow-right-line, after, true)
            @include hover-translate-icon(after)



// POSTS LIST  PAGE

// Posts section
.posts__section
    .posts--list
            .media img
                aspect-ratio: 3 / 2
                object-fit: cover
                width: 100%
                border-radius: 0 clamp(1rem, 4vw, 2.5rem) clamp(1rem, 4vw, 2.5rem) clamp(1rem, 4vw, 2.5rem)