// Hyperlink icon
a[target="_blank"]::after,
.btn[target="_blank"]::after
    content: none !important

// Main
main
  background-color: $color-background

// Footer
.footer-site address
  @include meta
  font-family: $heading-font-family
  font-style: normal