{{ $options := .options | default site.Params.categories.index.options }}
{{ $heading_level := .heading_level }}
{{ $category := site.GetPage .category.path }}
{{ $layout := .layout }}
{{ $link_overrides := .link_overrides | default (dict) }}
{{ $descriptions := .descriptions | default (dict) }}

{{ with $category }}
  {{ $link_override := index $link_overrides .Params.slug }}
  {{ $description := index $descriptions .Params.slug }}
  <article class="category-item {{ .Params.bodyclass }}" data-title="{{ .Title }}">
    <div class="category-content">
      {{ partial "categories/partials/category/heading.html" (dict
        "item" .
        "level" $heading_level
        "link" $link_override
      ) }}

      {{ if $description }}
        <p>{{ $description }}</p>
      {{ else }}
        {{ if $options.summary }}
          {{ partial "categories/partials/category/summary.html" . }}
        {{ end }}

        {{ if $options.count }}
          {{ partial "categories/partials/category/articles-count.html" . }}
        {{ end }}
      {{ end }}

      {{ if $options.more }}
        {{ partial "commons/item/more.html" . }}
      {{ end }}
    </div>

    {{ if $options.image }}
      {{ partial "categories/partials/category/media.html" (dict
        "image" .Params.image
        "layout" $layout
      ) }}
    {{ end }}
  </article>
{{ end }}
