{{- $block := .block -}}
{{- $block_class := partial "GetBlockClass" .block -}}
{{- $layout := .block.data.layout | default "grid" -}}

{{- with .block.data -}}
  {{ $options := .options }}

  {{- $top := $block.top -}}
  {{- $section := site.GetPage "pages/champs-dintervention" -}}
  {{- with $section -}}
    {{- $title := merge $top.title (dict "link" .RelPermalink) -}}
    {{- $top = merge $top (dict "title" $title) -}}
  {{- end -}}

  <div class="{{ $block_class }} block-categories--{{ .category_kind }}">
    <div class="container">
      <div class="block-content">
        {{ partial "blocks/top.html" $top }}

        {{- $link_overrides := dict -}}
        {{- $descriptions := dict -}}
        {{- if strings.Contains $block_class "homepage-categories-block" -}}
          {{- $link_overrides = dict
            "accompagnement-au-changement" "/champs-dintervention/#accompagnement-au-changement"
            "animation-participative" "/champs-dintervention/#animation-participative"
            "les-communs" "/champs-dintervention/#les-communs"
          -}}
          {{- $desc := "Lorem ipsum dolor sit amet consectetur. Sapien in eget lectus senectus purus blandit sit. Tortor sed nisi eu lacus ut scelerisque scelerisque odio sed." -}}
          {{- $descriptions = dict
            "accompagnement-au-changement" $desc
            "animation-participative" $desc
            "les-communs" $desc
          -}}
        {{- end -}}

        {{ partial (printf "categories/partials/layouts/%s/%s.html" $layout $layout) (dict
          "categories" .categories
          "heading_level" $block.ranks.children
          "options" .options
          "link_overrides" $link_overrides
          "descriptions" $descriptions
        ) }}
      </div>
    </div>
  </div>
{{- end -}}
